@use "../base/variables" as *;

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: $spacing-32;
  margin: 0 auto;

  @media (768px <= width < 1200px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    min-width: 660px;
  }

  @media (width >= 1200px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    min-width: 1114px;
  }
}
