@use "../base/variables" as *;
@use "../base/mixins" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  padding-top: 3.5rem;
  padding-bottom: 2.875rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-16;
  text-align: center;
  width: clamp(316px, 75vw, 540px);
  margin: 0 auto;

  &__title {
    &--light {
      @include text-preset-mb2;
      @media (width >= 768px) {
        font-size: $fs-36;
      }
    }

    &--bold {
      @include text-preset-mb1;
      @media (width >= 768px) {
        font-size: $fs-36;
      }
    }
  }

  &__description {
    @include text-preset-mb4;
  }
}
