@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

$color-cyan: #44d3d2;
$color-red: #ea5454;
$color-blue: #549ef2;
$color-orange: #fcae4a;
$color-grey-400: #6a7178;
$color-grey-500: #4d4f62;
$color-bg: #fafafa;
$color-white: #ffffff;

$ff-poppins: "Poppins", sans-serif;

$fs-36: 2.25rem;
$fs-24: 1.5rem;
$fs-20: 1.25rem;
$fs-15: 0.9375rem;
$fs-13: 0.8125rem;

$lh-135: 1.35;
$lh-140: 1.4;
$lh-160: 1.6;

$fw-extralight: 200;
$fw-regular: 400;
$fw-semibold: 600;

$lspacing-25: 0.25px;
$lspacing-10: 0.1px;
$lspacing-9: 0.09px;

$spacing-8: 0.5rem;
$spacing-16: 1rem;
$spacing-24: 1.5rem;
$spacing-32: 2rem;
$spacing-40: 2.5rem;

$shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.5);
